# Used to deploy to testnets
export PRIVATE_KEY=''

# Used to deploy to testnets
export INFURA_API_KEY=''

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

# Royalty fee BPS
export ROYALTY_FEE_BPS='0'

# DAO address
export DAO_ADDRESS=''

# On test reports gas if exist
export REPORT_GAS='true'

# Coinmarketcap key for calculating gas price
export CMC_API_KEY=''

# Polymorph contarct address
export POLYMORPHS_CONTRACT_ADDRESS=''

# Uniswap V3 address
export UNISWAP_SWAP_ROUTER_ADDRESS=''

# Link (ChainLink) address
export LINK_ADDRESS=''

# WETH (Wrapped Ether) address
export WETH_ADDRESS=''

# DAO FEE BPS
export DAO_FEE_BPS=''

# OPERATIONAL FEE BPS
export OPERATIONAL_FEE_BPS=''

# CHAIN LINK RNG GCOST
export LINK_COST=''