# Used to deploy to testnets
export PRIVATE_KEY=''

# Used to deploy to testnets
export INFURA_API_KEY=''

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

# On test reports gas if exist
export REPORT_GAS='true'

# Coinmarketcap key for calculating gas price
export CMC_API_KEY=''

# Polymorph contarct address
export POLYMORPHS_CONTRACT_ADDRESS=''

# DAO address
export DAO_ADDRESS=''

# Uniswap V3 address
export UNISWAP_SWAP_ROUTER_ADDRESS=''

# Link (ChainLink) address
export LINK_ADDRESS=''

# WETH (Wrapped Ether) address
export WETH_ADDRESS=''

# DAO FEE BPS
export DAO_FEE_BPS=''

# OPERATIONAL FEE BPS
export OPERATIONAL_FEE_BPS=''

# CHAIN LINK RNG COST
export LINK_COST=''

# START ROUND INCENTIVE // 0,005 ETH
export START_ROUND_INCETIVE=5000000000000000

# FINISH ROUND INCENTIVE // 0.01 ETH
export END_ROUND_INCETIVE = 10000000000000000

# VRF COORDINATOR ADDRESS
export VRF_COORDINATOR_ADDRESS=''

# WAGER
export WAGER=''

# GAME ITEMS
ITEMS_1=[
     [ genePosition: 0, itemIndex: 0, aMin: 1, aMax: 50, dMin: 1, dMax: 50 ] // NOT PART OF THE CONFIG JUST DESCRIPTIVE EXAMPLE
     [0, 1, 1, 100, 1, 150] // REAL EXAMPLE
]

# GAME ITEMS
ITEMS_2=[
     [ genePosition: 0, itemIndex: 0, aMin: 1, aMax: 50, dMin: 1, dMax: 50 ] // NOT PART OF THE CONFIG JUST DESCRIPTIVE EXAMPLE
     [0, 1, 1, 100, 1, 150] // REAL EXAMPLE
]